




.userLikeImg {
    width: 40px;
    border-radius: 50%;
}

.likesComponent {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

.likebtnsContainer{
    display: flex;
    align-items: center;
    justify
}