





.activityContainer{
background: white;
margin: 10px;
border-radius: 8px;
display: flex;
align-items: center;
cursor: pointer;
}

.imgprofile{
    width: 40px;
    border-radius: 50%;
}

.userName{
    display: block;
    font-weight: ;
}
@media (max-width : 700px){
    .userName{
        display: none;
    }
}