.Account {
    background-color: white;
    margin: 10px;
    border-radius: 8px;


}

.buttons-container {
    display: grid;

}

.buttons {
    color: black;

}

.accBtn {
    display: block;
}

@media(max-width : 790px) {
    .accBtn {
        display: none;
    }
}

.accountTitle {
    text-align: left;
    opacity: 0.4;
    font-weight: bold;
}