.Account {
    background-color: white;
    margin: 10px;
    border-radius: 8px;


}

.buttons-container {
    display: grid;
    text-align: left;
}

.buttons {
    color: black;

}

.accountTitle {
    text-align: left;
    opacity: 0.4;
    font-weight: bold;
}