



.postfeed {
    background-color: white;
    margin: 10px;
    border-radius: 8px;

}

.inputBox {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(211, 211, 211, 0.4);
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}

.img {
    border-radius: 50%;
}

.input {
    border: none;
    padding: 10px;
    width: -webkit-fill-available;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    text-align: center;
}

.ActivityButtons {
    /* text-align: left; */
    /* margin: 15px; */
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding:15px;
}

.activitybtn {
    border: none;
    background: none;
    margin: 1px;
    color: rgb(155, 155, 155);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.iconpen{
    padding-top: 18px;
    text-align: left;
    padding-left: 3vh;
    display: flex;
    align-items: center;
}

.userField{
    background:white;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
}

.topBar{
    text-align: left;
    display: flex;
    align-items: center;
}
.profile{
  border-radius: 100%;
}
.feedimg{
    background-color: white;
     margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    overflow: hidden;
}

.box{
    width: 40px;
    height: 40px;
    background-color: pink;
}

.postfeed2 {
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: ;

}