.flexContaine {
    display: flex;
}



.friendListMainClass {
    border-radius: 10px;
    padding: 5px;
    flex: 3;
    margin: 15px;
    box-shadow: ;
}

.secondFriendlist {
    flex: 8;
}

.friendlistbox {
    border: 1px solid black;
    display: grid;
}