.flex-contain {
    display: flex;
    margin: 13vh;
    background: rgb(255, 255, 255);
    border-radius: 7px;
}

.oneContain {
    flex: 7;

}

.imglogin {
    border-radius: 7px;
    width: 100%;
}


.secondContain {
    flex: 5;
     
    margin: 15px;
    text-align: left;
}
.loginContainer{
    /* margin-left: 7vh; */
    margin-left: auto;
    margin-right: auto;
}
.textLogin {
    margin-top: 8vh;
   
}
.firsttxt{
    color: skyblue;
}
.secondtxt{
    opacity: 0.5
}
 .loginbtn{
    background: rgb(54, 112, 54);
    width: 100%;
    border: none;
    margin-top: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
 }