.flex-contain {
    display: flex;
    margin: 13vh;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 7px;
}

.oneContain {
    flex: 7;

}

.imglogin {
    border-radius: 7px;
}


.secondContain {
    flex: 5;
    border: 2px solid black;
    margin: 15px;
    margin-left: 5px;
    text-align: left;
}

.textLogin {
    margin-top: 8vh;
   
}