.flex-contain {
    display: flex;
    margin: 10px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 7px;
}

.oneContain {
    flex: 7;
     overflow:hidden;
}
.imglogin{
    
}


.secondContain {
    flex: 5;
}