.inputfields {
    display: table-caption;
    text-align: center;
}
.containe{
    display: flex;
    justify-content: center;
}
.updateinput {
    border: none;
    margin: 10px;
    text-align: center;
}

.updateinput:focus {
    outline: none;
}