.inputfields {
    display: table-caption;
    text-align: center;
    margin-right: auto;
    margin-left: au;
}

.updateinput {
    border: none;
    margin: 10px;
    text-align: center;
}

.updateinput:focus {
    outline: none;
}