.inputfields {
    display: table-caption;
    text-align: center;
}
.containe{
    marg

}
.updateinput {
    border: none;
    margin: 10px;
    text-align: center;
}

.updateinput:focus {
    outline: none;
}