.navbarMainClass {
    width: fit-content;
}

.headerimg {
    border-radius: 50%;
}

.navbtnoptions {
    display: grid;
}


.navlinkbtn {
    text-decoration: none;
    color: black;
}

.navSeachContain{
    
}
.navInput {
    display: block;
    margin-right: 3vh;
    padding: 1.5vh;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3vh;
}

 