.navbarMainClass {
    width: fit-content;
}

.headerimg {
    border-radius: 50%;
}

.navbtnoptions {
    display: grid;
}


.navlinkbtn {
    text-decoration: none;
    color: black;
}

.navInput {
    display: block;
    margin-right: 3vh;
    padding: 1.5vh;
    border: none;
}

.navInput:focus {
    outline: none;
}