.navbarMainClass {
    width: fit-content;
}

.headerimg {
    border-radius: 50%;
}

.navbtnoptions {
    display: grid;
}


.navlinkbtn {
    text-decoration: none;
    color: black;
}

.navSeachContain {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3vh;
    margin-right: 3vh;
}

.navInput {
    display: block;
   
    padding: 1.5vh;
    border: none;
}

.navInput:focus {
    outline: none;
}