.navbarMainClass {
    width: fit-content;
}

.headerimg {
    border-radius: 50%;
}

.navbtnoptions {
    display: grid;
}


.navlinkbtn {
    text-decoration: none;
    color: black;
}

.navSeachContain {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3vh;
    margin-right: 3vh;
    padding: 1vh;
    padding-left: 2vh;
    display: flex;
    align-items: center;
   
}

.navInput {
    display: block;
    border: none;
}

.navInput:focus {
    outline: none;
}

@media(max-width : 600px) {
    .navSeachCnavInputontain {
        display: none;
    }
}