.Ui_Navbar {
    background-color: white;
    /* padding: 13px; */
}

.flexUi {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.Ui_First {
    flex: 2;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    border-radius: 0px 0px 15px 0px;
}

.Ui_Second {
    flex: 10;
}