


 
.flexUi {
    display: flex;
    background-color: rgb(236, 236, 236);
}

.Ui_First {
    flex: 2;
     
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border-radius: 10px 10px 10px;
}

.Ui_Second {
    flex: 10;
    height: 100vh;

}