.flexUi {
    display: flex;
}

.Ui_First {
    flex: 2;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.Ui_Second {
    flex: 10;

    height: 100vh;
    background-color: rgb(238, 238, 238);
}