.UISideBar {
    border-top: 1px solid rgb(235, 235, 235);
    padding-top: 10px;

}

.sideBarButtons {
    margin-left: 1vh;
    margin-right: 1vh;
    display: grid;
}

.sideBar-profile {
    border: 1px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    padding: 10px;
}