.errorComponent {
    background-image: url('https://onlinegiftools.com/images/examples-onlinegiftools/jump-hello-transparent.gif');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    /* background-attachment: fixed; */
}