



.Ui-friendsComponent{
    display:flex;
    justify-content: center;
}

.Ui-friendsList {
     display: grid;
     
}

.Ui-friendsAlign {
    padding: 5px;
    display: flex;
    align-items: center;
}