



.Ui-friendsComponent{
    display:flex;
    justify-content: center;
}

.Ui-friendsList {
    padding: 5xp;
    display: grid;
     
}

.Ui-friendsAlign {
    display: flex;
    align-items: center;
}